![WhatsApp Image 2023-01-05 at 10.09.57 PM.jpeg]()
<center>

<p>
 
# **Introduction to Python** <br>
In the following notebook, there are the basics of the language Python<br>
Abdelrahman Sobeih <br>
Maryam Almetnawy<br>
</p></center>

## Arithmatic Operations and Variable Assignment with Python

A variable allows us to store a value or an object which you can use later. When assigning a variable in Python, we usually denote it by = (e.g. `x = 5`; so x gets 5)

Printing in Python using print() and if we want to concatenate, we use a comma.

Arithmatic Operations:
*   Addition: `+`
*   Subtraction: `-`

*   Multiplication: `*`

*   Division: `/`
*   Exponentiation: `**`


*   Modulo: `%`

In [ ]:
#Intializing variables
x = 5
y = 2
#Addition +
print(x + y)
#subtraction -
print(x - y)
#division /
print(x/y)
#Multiplication *
print(x * y)
#Modulus %
print(x % y)
#exponential **
print(x ** y)

7
3
2.5
10
1
25

In [ ]:
#to print
print(x)
print(y)
#to print with concatenation
print("The value of x is: ", x )
print("The value of y is: ", y )

5
2
The value of x is:  5
The value of y is:  2

## Basic data types in Python 
Python works with numerous data types. Some of the most basic types to get started are:  

*   Decimal values like 6.5 are called (float).
*   Whole numbers like 8 are called integers (int).
*   Boolean values (True or False) are called boolean (bool).
*   Text values are called Strings (str) and they have to be writtnen between quotations or double quotations.

when you added 5 + "six", you get an error due to a mismatch in data types. You can avoid such embarrassing situations by checking the data type of a variable beforehand. You can do this with the type() function.

In [ ]:
type(2.9)

float

In [ ]:
type(True)

bool

## Asking the user to enter values
We can ask the user to enter values using input(). The function is by default takes a string, if we want to get a numeric value, we need to convert it

In [ ]:
#to ask the user to enter values we use input() 
input('Write your name: ')

Write your name:

''

In [ ]:
#asking the user to enter values that are not String:
a = int(input('Enter an integer value: ')) #integer
print(a)
a = float(input('Enter a float point: ')) #float
print(a)

Enter an integer value: 5
5
Enter a float point: 2.3
2.3

##Comparison operators
 The (logical) comparison operators known to Python are: 


*   `<` for less than

*   `>` for greater than

*   `<=` for less than or equal to
*   `>=` for greater than or equal to


*  `==` for equal to each other


*  `!=` not equal to


Stating 11 > 22 returns False and stating 2 == 2 return True

###if else statements 
Notice the following syntax: 
```
if test_expression:
  statement1 
else:
  statement2
```
Notice the tab before statement1 and statement2, this means that we are inside the body of the if and else statements, if that tab is not there, then you are outside

In [ ]:
if x >= y: 
  print('x is greater than y')
else:
  print('y is greater than x') 
#########################
if x == y: 
  print('they are equal')
else:
  print('they are not equal') 
#########################
if x != y: 
  print('they are not equal')
else:
  print('they are equal')

x is greater than y
they are not equal
they are not equal

### Multiple if…else statements
The  if…else…if statements allow you to execute a block of code among more than 2 alternatives

The syntax of if…else...if statements is:


```
if test_expression1:
  statement1
elif test_expression2: 
  statement2
elif test_expression3: 
  statement3
else:
  statement4
```


Note that we can use "and", "or" to compare more than one condition.
with "and" both conditions must be true to execute. However
with "or", at least one of the conditions must be true to execute

In [ ]:
x = 10
if x < 3: 
  print("x is less than 3")
elif x > 3 and x < 5:
  print("x is greater than 3 and less than 5")
elif x > 5 or x == 5:
  print("x is either greater than 5 or equals 5")
else:
  print("x is 3")

x is either greater than 5 or equals 5

## Loops

### While loops
An expression is evaluated and the body of the loop is entered if the result is True.
The statements inside the loop are executed and the flow returns to evaluate the expression again.
This is repeated each time until expression evaluates to False, in which case, the loop exits.

The syntax of a while loop: 
```
while test_expression:
  statement
```
Notice the tab before statement, this means that we are inside the body of the loop, if that tab is not there, then you are outside the loop

In [ ]:
i = 0
while i < 5:
  print(i)
  i = i +1

0
1
2
3
4

In [ ]:
a = []
i = 0
while i < 5:
  a.append(i**2)
  i = i +1

In [ ]:
a

[0, 1, 4, 9, 16]

### For Loops
A sequence is a range and i takes on each of its value during the loop. In each iteration, statement is evaluated.

syntax of for loop:
```
for i in sequence:
  statement
```

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [ ]:
exl = ['Abdulrahman', 'Ali', 'Omar']
for i in exl:
  print(i)

Abdulrahman
Ali
Omar

In [ ]:
exl = [9, 7, 4, 2, 3, 1]
for i in exl:
  print(i)

9
7
4
2
3
1

## Lists
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets: [ ]

you can add values to a list after having it using append()

In [ ]:
x = [4, 3, 2, 1]
print(x)
x.append(9)
print(x)

[4, 3, 2, 1]
[4, 3, 2, 1, 9]

You can use the function len() to know the length of the list

In [ ]:
y = [2,3,4]
len(y)

3

you can access the element of the list with its index like this:
Note that the index always start from 0

In [ ]:
print('The first element at index 0 is: ', y[0])
print('The second element at index 1 is: ', y[1])
print('The thrid element at index 2 is: ', y[2])

The first element at index 0 is:  2
The second element at index 1 is:  3
The thrid element at index 2 is:  4

## Functions (Methods)
Functions are used to logically break our code into simpler parts which become easy to maintain and understand.

The syntax for Writing Functions in R:
```
def function_name():
  statements
```

In [ ]:
def fun(x, y):
  r = x + y
  return r #we can return or print

In [ ]:
fun(5,6)

11

In [ ]:
def print_welcome():
  print("Hello to the Data Science Project Workshop in two days")

In [ ]:
print_welcome()

Hello to the Data Science Project Workshop in two days

In [ ]:
def more_advanced_fun():
  x = int(input('Enter an integer that is greater than or equal to zero and less than a hundred: '))
  if x < 0 or x > 100:
    print('We Asked for greater than or equal to zero not less, the number ', x, ' you entered is not applicable')
    return
  y = int(input('Enter another integer that is greater that zero and less than a hundred: '))
  if y < 0 or y > 100:
    print('We Asked for greater than or equal to zero not less, the number ', y, ' you entered is not applicable')
    return
  if x > y:
    print(x, " is greater than ", y)
  elif x == y:
    print(x, ' and ', y, ' are both the same')
  elif x == 0 and y == 0:
    print(x, ' and ', y, ' are both zeros')
  else:
    print(y, " is greater than ", x)

In [ ]:
more_advanced_fun()

Enter an integer that is greater than or equal to zero and less than a hundred: 2
Enter another integer that is greater that zero and less than a hundred: 3
3  is greater than  2

## Importing Libraries and Installing pachages
the syntax for importing:

`import library name   `

or

`import library name as shortcut [identifier]`

example:

`import pandas `

or 

`import pandas as pd` 


the syntax for installing a package is:

`!pip install package name`

example:

`!pip install numpy  `

In [ ]:
help() #you can run this command and whatever you need help for and it will give you an explanation and sometimes links to what you are looking for

Welcome to Python 3.8's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.8/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help>

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Creating a dataframe

In [2]:
import pandas as pd
results_df = pd.DataFrame({'Name': ['Ali', 'Alia', 'Reem'], 
                           'Age':[13, 21, 22]})
results_df

   Name  Age
0   Ali   13
1  Alia   21
2  Reem   22

## Questions:
**1.   Create a function called (invite) that returns "You are not invited" if the person is under 25 years old, if the person is between 25 and 35, return "You are invited to room C" and if the person is older than 35 return "Go home". Test the functions with those numbers 28, 20, 40 and print them**

**2. Create a list and ask the user to enter three integer values and save them in the list then print it.**

**3.  Create a loop that prints each value at a time for this list ['Tara', 'Lia', 'Ameer']**

**4. Create the following dataframe and explore it:**


![Screenshot (177).png]()